h1 {
    color: red;
    text-align: center;
    font-size: x-large
    font-style: initial;
} 

h2 {
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-weight: 101;
    font-family: 'Times New Roman', Times, serif
}

ul {
    text-align: center;
    list-style-position: inside;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
}

body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

li {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
